---
import Layout from '../layouts/Layout.astro'
import { Hero } from '../components/marketing/Hero'
import { LogoWall } from '../components/marketing/LogoWall'
import { HowItWorks } from '../components/marketing/HowItWorks'
import { Benefits } from '../components/marketing/Benefits'
import { Pricing } from '../components/marketing/Pricing'
import { Testimonials } from '../components/marketing/Testimonials'
import { FAQ } from '../components/marketing/FAQ'
import { Blog } from '../components/marketing/Blog'
import { CTA } from '../components/marketing/CTA'
import { Footer } from '../components/marketing/Footer'
---

<Layout>
  <main>
    <Hero />
    <LogoWall />
    <HowItWorks />
    <Benefits />
    <Pricing />
    <Testimonials />
    <FAQ client:visible />
    <Blog />
    <CTA />
  </main>
  <Footer />
</Layout>
