---
// oxlint-disable-next-line import/no-unassigned-import
import '../styles/global.css'

interface Props {
  title?: string
  description?: string
}

const {
  title = 'GenVTO - AI Virtual Try-On for Shopify',
  description = 'Increase sales and reduce returns with our AI virtual try-on solution for Shopify.',
} = Astro.props
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <link href="https://fonts.googleapis.com" rel="preconnect" />
    <link crossorigin="" href="https://fonts.gstatic.com" rel="preconnect" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body
    class="bg-background-light selection:bg-primary overflow-x-hidden font-sans text-slate-900 antialiased selection:text-white"
  >
    <slot />
  </body>
</html>
